:root{
    --darkColor:#004d61;
}
body{
    margin: 0;
    padding: 0;
    background-color: var(--darkColor);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 100vh;

}
.container{
    width: 100%;
    height: 100%;
    text-align: center;
}
h4{
    font-size: 40px;
    color: white;
}
button{
    width: 150px;
    height: 30px;
    border-style: none;
    border-radius: 10px;
    outline: none;
}
