body{
    margin: 0;
    padding: 0;
    background-color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
}
header{
    background-color: #3D5B99;
    height: 100px;
}
.container{
    width: 70%;
    margin: auto;
}
.logo h2{
    color: white;
    font-size: 40px;
    padding-top: 20px;
}
.form{
    height: auto;
    width: 30%;
    background-color: white;
    margin-top: 10%;
    margin-left: 35%;
    position: absolute;
    padding:10px 20px 10px 20px;
    text-align: center;
}
#login-head{
    font-size: 20px;
}
input{
    width: 70%;
    height: 30px;
    padding: 4px 10px 4px 10px;
}
#loginpassword
{
    margin-top: 10px;
}
.btn{
    height: 40px;
    padding: 5px;
    border-style: none;
    color: white;
    font-size: 14px;
}
.login-btn
{
    width: 70%;
    background-color: #3D5B99;
    margin-top: 20px;
}
.create-btn
{
    width: 50%;
    background-color: #017F01;
}


